<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<mappers>
		<mapper resource="sqlmap/chatSql.xml"/>
		<mapper resource="sqlmap/parentMypageSql.xml"/>
		<mapper resource="sqlmap/careNoteSql.xml"/>
		<mapper resource="sqlmap/reviewSql.xml"/>
		<mapper resource="sqlmap/memberSql.xml"/>
		<mapper resource="sqlmap/commonOpSql.xml"/>
		<mapper resource="sqlmap/findKidsSql.xml"/>
		<mapper resource="sqlmap/commonImgSql.xml"/>
		<mapper resource="sqlmap/reportSql.xml"/>
		<mapper resource="sqlmap/findTeachersSql.xml"/>
		<mapper resource="sqlmap/teacherProfileSql.xml"/>
		<mapper resource="sqlmap/adminSql.xml"/>
		<mapper resource="sqlmap/commonMemberSql.xml"/>
	</mappers>
</configuration>