<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- myBatis Setting Area -->
	<!-- 1. dataSource -->
<!-- 	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"> -->
<!-- 		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/> -->
<!-- 		<property name="url" value="jdbc:oracle:thin:@14.35.253.174:1521:xe"/> -->
<!-- 		<property name="username" value="hr"/> -->
<!-- 		<property name="password" value="1234"/> -->
<!-- 	</bean> -->

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="net.sf.log4jdbc.sql.jdbcapi.DriverSpy"/>
		<property name="url" value="jdbc:log4jdbc:oracle:thin:@14.35.253.174:1521:xe"/>
		<property name="username" value="hr"/>
		<property name="password" value="1234"/>
	</bean>

	<!-- 2. transactionManager -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<!-- 3. myBatis -->
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:/mybatis-config.xml"/>
	</bean>
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg name="sqlSessionFactory" ref="sqlSessionFactoryBean"/>
	</bean>

<!-- DAO Area -->
	<bean id="memberDao" class="dino.member.model.MemberDaoImple">
		<constructor-arg ref="sqlSessionTemplate" />
	</bean>
	<bean id="commonopDao" class="dino.commonop.model.CommonOpDaoImpl">
		<constructor-arg ref="sqlSessionTemplate" />
	</bean>
	<bean id="findkidsDao" class="dino.findkids.model.FindKidsDaoImpl">
		<constructor-arg ref="sqlSessionTemplate" />
	</bean>
	<bean id="reportDao" class="dino.report.model.ReportDaoImple">
		<constructor-arg ref="sqlSessionTemplate" />
	</bean>
	<bean id="findTeachersDao" class="dino.findteachers.model.FindTeachersDaoImp">
		<constructor-arg ref="sqlSessionTemplate" />
	</bean>
	<bean id="reviewDao" class="dino.review.model.ReviewDaoImpl">
		<constructor-arg ref="sqlSessionTemplate" />
	</bean>
	<bean id="careNoteDao" class="dino.carenote.model.CareNoteDaoImpl">
		<constructor-arg ref="sqlSessionTemplate"/>
	</bean>
	<bean id="parentMypageDao" class="dino.parentmypage.model.ParentMypageDaoImpl">
		<constructor-arg ref="sqlSessionTemplate"/>
	</bean>
	<bean id="teacherMyPageDao" class="dino.teachermypage.model.TeacherMyPageDaoImpl">
		<constructor-arg ref="sqlSessionTemplate"/>
	</bean>
	<bean id="chatDao" class="dino.chat.model.ChatDaoImpl">
		<constructor-arg ref="sqlSessionTemplate" />
	</bean>
	<bean id="adminDao" class="dino.adminmypage.model.AdminDaoImpl">
		<constructor-arg ref="sqlSessionTemplate"/>
	</bean>

<!-- Service Area -->
	<bean id="memberService" class="dino.member.service.MemberServiceImple">
		<property name="memberDao" ref="memberDao" />
	</bean>
	<bean id="commonOpService" class="dino.commonop.service.CommonOpServiceImple">
		<property name="commonopDao" ref="commonopDao" />
	</bean>
	<bean id="findKidsService" class="dino.findkids.service.FindKidsServiceImple">
		<property name="findkidsDao" ref="findkidsDao" />
	</bean>
	<bean id="reportService" class="dino.report.service.ReportServiceImple">
		<property name="reportDao" ref="reportDao" />
	</bean>
	<bean id="findTeachersService" class="dino.findteachers.service.FindTeachersServiceImp">
		<property name="findTeachersDao" ref="findTeachersDao" />
	</bean>
	<bean id="reviewService" class="dino.review.service.ReviewServiceImpl">
		<property name="reviewDao" ref="reviewDao" />
	</bean>
	<bean id="careNoteService" class="dino.carenote.service.CareNoteServiceImpl">
		<property name="careNoteDao" ref="careNoteDao" />
	</bean>
	<bean id="parentMypageService" class="dino.parentmypage.service.ParentMypageServiceImpl">
		<property name="parentMypageDao" ref="parentMypageDao"></property>
	</bean>
	<bean id="teacherMypageService" class="dino.teachermypage.service.TeacherMyPageServiceImpl">
		<property name="teacherMyPageDao" ref="teacherMyPageDao" />
	</bean>
	<bean id="chatService" class="dino.chat.service.ChatServiceImpl">
		<property name="chatDao" ref="chatDao"></property>
	</bean>
	<bean id="adminService" class="dino.adminmypage.service.AdminServiceImpl">
		<property name="adminDao" ref="adminDao"/>
	</bean>
</beans>
